{% extends "::base.html.twig" %}

{% block body %}

<div class='home-interieur'>
    <div class='home-menu'>
      <div class='home-menu-titre'>
        ELEVE
      </div>
      <ul class='home-items'>
        <li>
          <a href="{{ path("vocs_platform_eleve_home")}}">Principal</a>
        </li>
        <li>
          <a href="{{ path("vocs_platform_eleve_home_jeux")}}">Jeux</a>
        </li>
        <li>
          <a href="{{ path("vocs_platform_eleve_home_listes")}}">Listes</a>
        </li>
        <li>
          <a href="#">Ma Classe</a>
        </li>
        <li>
          <a href="#">Statistiques</a>
        </li>
        <li>
          <a class="home-active">Réglages</a>
        </li>
        <li>
          <a href="{{ path("vocs_platform_homepage")}}">Déconnexion</a>
        </li>
      </ul>
    </div>
    <div class='contenue active'>

      <div class="home-barre">
        <a class='home-bouton-menu' id="lignes-burger"></a>
        <div class="home-barre-titre">
          LISTES
        </div>
      </div>

      <div class="home-contenue-interieur">


        <div id='reglages' ontouchstart>
          <input checked class='nav' name='nav' type='radio'>
          <span class='nav'>Profile</span>
          <input class='nav' name='nav' type='radio'>
          <span class='nav'>Compte</span>
          <input class='nav' name='nav' type='radio'>
          <span class='nav'>Avancés</span>
          <main class='content'>
            <section id='profile'>
              <form>
                <ul>
                  <li class='large padding avatar'>
                    <span style="background-image: url("{{ asset("../../../../../web/img/logoFlat.png") }})"></span>
                    <div>
                      <fieldset class='material-button'>
                        <div>
                          <button>Parcourir</button>
                        </div>
                      </fieldset>
                    </div>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='text' value='Harvey Roberts'>
                        <label>Nom</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='text'>
                        <label>Ville</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='text'>
                        <label>Pays</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='text'>
                        <label>Etablissement</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li class='large'>
                    <fieldset class='material'>
                      <div>
                        <input required type='text'>
                        <label>Classe</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li class='large padding'>
                    <fieldset class='material-button center'>
                      <div>
                        <input class='save' type='submit' value='Enregistrer'>
                      </div>
                    </fieldset>
                  </li>
                </ul>
              </form>
            </section>
            <section id='account'>
              <form>
                <ul>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='email' value='email@domain.com'>
                        <label>Adresse Mail</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='text'>
                        <label>Nom D'utilisateur</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='password'>
                        <label>Mot De Passe</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li>
                    <fieldset class='material'>
                      <div>
                        <input required type='password'>
                        <label>Confirmer mot De Passe</label>
                        <hr>
                      </div>
                    </fieldset>
                  </li>
                  <li class='padding'>
                    <fieldset class='material-button'>
                      <div>
                        <button class='connect gh connected'>
                          <span>Compte Instagram</span>
                        </button>
                      </div>
                    </fieldset>
                  </li>
                  <li class='padding'>
                    <fieldset class='material-button'>
                      <div>
                        <button class='connect tw'>
                          <span>Compte Twitter</span>
                        </button>
                      </div>
                    </fieldset>
                  </li>
                  <li class='padding'>
                    <fieldset class='material-button'>
                      <div>
                        <button class='connect fb'>
                          <span>Compte Facebook</span>
                        </button>
                      </div>
                    </fieldset>
                  </li>
                  <li class='padding'>
                    <fieldset class='material-button'>
                      <div>
                        <button class='connect li'>
                          <span>Compte LinkedIn</span>
                        </button>
                      </div>
                    </fieldset>
                  </li>
                  <li class='large padding'>
                    <fieldset class='material-button center'>
                      <div>
                        <input class='save' type='submit' value='Enregistrer'>
                      </div>
                    </fieldset>
                  </li>
                </ul>
              </form>
            </section>
            <section class='upcoming' id='avancés'>
              <h1>Yo!</h1>
            </section>
          </main>
        </div>


      </div>

    </div>


</div>



{% endblock %}
