{% extends "::base.html.twig" %}

{% block body %}

<div class='home-interieur'>
    <div class='home-menu'>
      <div class='home-menu-titre'>
        PROF
      </div>
      <ul class='home-items'>
        <li>
          <a class='home-active'>Principal</a>
        </li>
        <li>
          <a href="#">Jeux</a>
        </li>
        <li>
          <a href="{{ path("vocs_platform_prof_home_listes")}}">Mes Listes</a>
        </li>
        <li>
          <a href="#">Listes Publiques</a>
        </li>
        <li>
          <a href="#">Mes Classes</a>
        </li>
        <li>
          <a href="#">Statistiques De Mes Elèves</a>
        </li>
        <li>
          <a href="#">Réglages</a>
        </li>
        <li>
          <a href="{{ path("vocs_platform_homepage")}}">Déconnexion</a>
        </li>
      </ul>
    </div>
    <div class='contenue active'>
      <div class="home-topbar">
        <a class='home-bouton-menu' id="lignes-burger"></a>
        <div class="home-topbar-titre">
          PRINCIPAL
        </div>
      </div>

        <div class="home-contenue-interieur">

            <div class="card home-infos-eleve">
                <div class="photo-eleve"></div>
                <div class="banner-eleve"></div>
                <ul>
                    <li><b>M Delhoumi</b></li>
                    <li>IUT CAEN IFS</li>

                </ul>
                <button class="contact" id="main-button">Voir Profile</button>
                <div class="social-media-banner">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="card home-infos-classe">
                <div class="photo-classe"></div>
                <div class="banner-classe"></div>
                <ul>
                    <li><b>Mes Classes</b></li>
                    <li>5 Classes</li>
                    <li>102 Elèves</li>

                </ul>
                <button class="contact" id="main-button">Voir Classes</button>
                <div class="social-media-banner">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <div class="home-dernieres-activites">
                <h1>Mes Listes</h1>
                <article class="home-dernieres-activites-boite">
                    <a href="#" class="home-dernieres-activites-boite-img">
                        <img class="home-dernieres-activites-img" src="https://visualhunt.com/photos/s/7/background-work-designer.jpg" />
                    </a>
                    <div class="home-dernieres-activites-boite-infos">
                        <h2><a href="#">Ma Première Liste</a></h2>
                        <p>25 <strong>mots</strong> <span class="verified"></span></p>
                        <a href="{{ path("vocs_platform_eleve_home_listes")}}" class="bouton-bleu-xs home-dernieres-activites-bouton-revoir">Voir Liste</a>
                    </div>
                </article>

                <article class="home-dernieres-activites-boite">
                    <a href="#" class="home-dernieres-activites-boite-img">
                        <img class="home-dernieres-activites-img" src="https://visualhunt.com/photos/s/7/background-work-designer.jpg" />
                    </a>
                    <div class="home-dernieres-activites-boite-infos">
                        <h2><a href="#">Ma Deuxième Liste</a></h2>
                        <p>72 <strong>mots</strong> <span class="verified"></span></p>
                        <a href="{{ path("vocs_platform_eleve_home_listes")}}" class="bouton-bleu-xs home-dernieres-activites-bouton-revoir">Voir Liste</a>
                    </div>
                </article>
                <article class="home-dernieres-activites-boite">
                    <a href="#" class="home-dernieres-activites-boite-img">
                        <img class="home-dernieres-activites-img" src="https://visualhunt.com/photos/s/7/background-work-designer.jpg" />
                    </a>
                    <div class="home-dernieres-activites-boite-infos">
                        <h2><a href="#">Ma Troisième Liste</a></h2>
                        <p>45 <strong>mots</strong> <span class="verified"></span></p>
                        <a href="{{ path("vocs_platform_eleve_home_listes")}}" class="bouton-bleu-xs home-dernieres-activites-bouton-revoir">Voir Liste</a>
                    </div>
                </article>


            </div>
        </div>

    
    </div>
  </div>
{% endblock %}
